@font-face {
    font-family: "Lato Light";
    src: url("../font/Lato/Lato-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato Light';
}

header {
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    width: 100%;
    height: 100%;
}

/* *********************************** navegador movil *********************************** */

.nav-movil {
    width: 100%;
    height: 260px;
    background-color: #bdbdbd;
    position: absolute;
    transition : 0.6s;
    top: -300px;
}
.nav-movil-mostrar {
    top: 0;
    transition : 0.6;
}
    .nav-movil ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 40px 80px 40px 0px;
    }
        .nav-movil ul li {
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 16px;
            cursor: pointer;
        }
            .span-nav-movil {
                color: #444242;
                font-weight: bold;
                font-size: 18px;
            }
            .span-nav-movil:hover {
                color: #1f1f1f;
            }
    .span-boton-nav-movil {
        position: absolute;
        top: 0;
        right: 0;
        color: #444e86;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        padding: 30px 30px 30px 30px;
    }
    .span-boton-nav-movil:hover {
        color: #151b3b;
    }

/* *********************************** div presentacion inicial *********************************** */

.div-mi-presentacion-inicial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .h1-mi-nombre {
        width: 100%;
        padding: 20px 0px 30px 30px;
    }
        .h1-mi-nombre a {
            width: 200px;
            display: block;
            font-size: 26px;
            font-weight: 2000;
            color: #444e86;
        }
    .p-frase-personal {
        width: 95%;
        max-width: 760px;
        font-size: 22px;
        color: #444e86;
        padding: 40px 30px 40px 30px;
        text-align: center;
        border-bottom: solid 1px #626a95;
    }


/* *********************************** main *********************************** */

main {
    width: 100%;
    padding: 40px 20px 40px 20px;
}
    article {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0px 40px 0px;
    }
    .article-mi-foto-redes {
    }
        .div-img-mi-foto {
            width: 100%;
            max-width: 420px;
            height: 300px;
            margin: auto;
            border-radius: 2px;
            overflow: hidden;
        }
        .nav-escritorio {
            width: 100%;
            max-width: 300px;
            height: 300px;
            margin: auto;
        }
            .nav-escritorio ul {
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .nav-escritorio ul li {
                width: 80%;
                padding: 10px;
                display: flex;
                cursor: pointer;
            }
                .nav-escritorio ul li span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px;
                }
                .span-icon {
                    font-size: 20px;
                    color: #ad500d;
                }
                    .span-icon:hover ~ .span-nav-escritorio {
                        color: #883a03;
                    }
                .span-nav-escritorio {
                    font-weight: bold;
                    font-size: 18px;
                    text-align: left;
                    color: #d2691e;
                }
                    .span-nav-escritorio:hover {
                        color: #883a03;
                    }

    .article-sobre-mi {

    }
        .h2-article-subtitulo {
            color: #10375c;
            font-size: 28px;
        }
        .p-article-texto {
            padding: 20px 0px 20px 0px;
            font-size: 18px;
            text-align: justify;
        }
        .div-grupo-tres-imagenes {
            display: flex;
            padding: 20px 0px 20px 0px;
            width: 100%;
        }
            .div-grupo-tres-imagenes div {
                width: 100%;
                padding: 4px;
                margin: auto;
            }

    .mal {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .bmo {
        width: 100%;
    }
    .igna {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .igna div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .igna div img {
        width: 100%;
        max-width: 240px;
    }

/* *********************************************** media *********************************************** */

@media (min-width: 800px) {
    .nav-movil {
        display: none;
    }
        .span-boton-nav-movil {
            display: none;
        }
    article {
        width: 85%;
    }

}

@media (min-width: 1200px) {
    .h1-mi-nombre {
        position: fixed
    }
    article {
        width: 70%;
    }
}